# --- SolidWorks ---
*.sldbak
*.sldbkp
*.swp
*.bak

# --- System Files ---
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
~$Part1.SLDPRT
~$Part2.SLDPRT
~$Part3.SLDPRT
~$Part4.SLDPRT
~$Assem1.SLDASM
~$Stepper 28BYJ48.SLDPRT